<html>
<head>
    <meta charset="utf-8">
    <title>Фотографии</title>
</head>
<body>

{{ include('header.tmpl', {title: 'Image' }) }}

<a>

    <img src="{{ imgDir }}{{ i }}.jpg" alt="Image {{ i }}" width={{ width }} height={{ height }}>
</a>

{% include 'footer.tmpl' %}

</body>
</html>